<h2>Seattle Monday Night Pinball Scrimmages</h2>

<br/>
<h3>This is not the official MNP website!</h3>
<p>
  This site will only be used for team scrimmages that are not part of the regular MNP season.
  None of the results of these matches will count towards standings in a main season, and none of
  these results will be submitted to <a href="https://matchplay.events">Match Play Events</a>,
  affect player IPR, or be included in the main MNP website stats.
</p>
<p>
  Thanks to <a href="./matches/mnp-23-1-DIH-SSS">Slayers and Drain in Hell</a> for being the first to play a match here
  and test out this experimental site!
</p>
<p>
  The next time for scrimmages will be:
  <ul>
    <li>March 16th, during Spring Break week</li>
    <li>April 20th, during 420 week</li>
    <li>Playoffs weeks (starting April 27th), only for teams that don't make playoffs</li>
  </ul>
  Contact Michael Adcock if you've set something up with another team and are interested in a scrimmage during these weeks. If captains need to be adjusted for these scrimmages, let me know.
</p>
<p>
  Can't find your match in the long list? Why not use the new <a href="./mymatch">MY MATCH</a> feature from the main menu.
  If you're logged in, it should take you to your match!
</p>
<p>
  Since results here won't affect the real site, matches can be abandoned
  without completing them if you want. And of course all of this is optional
  and no one is required to use it. Just figured it might be a fun way to get
  some practice in!
</p>
<p>
  <b>For more information on Seattle Monday Night Pinball, 
  <a href="https://mondaynightpinball.com">visit the official website</a></b>.
</p>

<br/>
<br/>
<p>Last updated by <a href="mailto:adcockm@gmail.com">Michael</a> on 2026/01/27 PST</p>
